


body{
    display:flex;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: logo_font;
    src: url(asset/Norse-Bold.otf);
}

#banner{
    flex: 1;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    background: url('asset/left.jpg') no-repeat;
    background-size: cover;

}

#logo_container{

    display:flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.3);
    justify-items: center;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 20%;
}

#logo{
    width: 20%;
    margin: 3%;

}

#logo_text{
    color:white;
    font-family: logo_font;
    font-size: 500%;
    margin: 0;
    padding-top: 20px;
    align-self: center;

}

#credit{
    color:white;
    position: absolute;
    bottom: 1%;
    font-size: 14px;
    font-family: sans-serif;

}
#credit>a:link{
    color:white;
}

#credit>a:visited{
    color:white;
}

#right_body{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    flex: 2;
    background-color:rgb(249, 250, 251);
}

#description{
    color:black;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    
    
    margin:5% 20% -1% 5%;
}

#middle{
    width: 100%;
}

form>fieldset{
    background-color: white;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form>fieldset>legend{
    font-size: 24px;
    float:left;
    margin-bottom: 24px;
}

#row{
    display:flex
}

#row>div>.question{
    color:grey;
    font-size:16px;
    display:block
}
