/*Main Body - Title*/
#title{
    background-color: #E9DAC1;
    grid-row: 1/2;
    grid-column:2/3 ;

    width: 100%;
    display: grid;
    grid-template-rows: 90px 90px;
    grid-template-columns: 7fr 3fr;
}

#title>#search_bar{
    display:grid;
    grid-template-columns: 2fr 8fr;

    grid-row:1 / 2;
    grid-column: 1 / 2;
}

#search_bar>img{
    width: 40%;
    grid-column-start: 1;

    margin:20px 15px 20px 90px;
}

#search_bar>div{
    grid-column-start: 2;
    width: 900px;
    height: 30px;
    background-color: rgb(227, 232, 229);
    border-radius: 20px;

    margin: 30px 0 20px 5px
}

#title>#noti_bar{
    display:grid;
    grid-template-columns: 2fr 8fr;

    grid-row:2/3;
    grid-column: 1/2;
}

#noti_bar>img{
    width:20%
}

#title>#greeting_bar{
    display:grid;
    grid-template-columns: 2fr 8fr;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#greeting_bar>img{
    width: 20%;
}

#title>#action_bar{
    display:grid;
    grid-template-columns: 2fr 8fr;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

